
	@font-face {
        font-family: 'Sansation Light';
        src: url('./fonts/SansationLight.eot');
        src: url('./fonts/SansationLight.eot?#iefix') format('embedded-opentype'),
        url('./fonts/SansationLight.woff') format('woff'),
        url('./fonts/SansationLight.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
        }
    
    @font-face {
        font-family: "CorridaCTT";
        src: url("./fonts/corridactt/corridactt.eot"); /* IE9 Compat Modes */
        src: url("./fonts/corridactt/corridactt.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
            url("./fonts/corridactt/corridactt.otf") format("opentype"), /* Open Type Font */
            url("./fonts/corridactt/corridactt.svg") format("svg"), /* Legacy iOS */
            url("./fonts/corridactt/corridactt.ttf") format("truetype"), /* Safari, Android, iOS */
            url("./fonts/corridactt/corridactt.woff") format("woff"), /* Modern Browsers */
            url("./fonts/corridactt/corridactt.woff2") format("woff2"); /* Modern Browsers */
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    .hamburger {
        padding: var(--padding,  15px);
        display: inline-block;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: .15s;
        transition-timing-function: linear;
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        overflow: visible;
    }
    .hamburger:active {
        background-color: transparent !important;
    }
    .hamburger:hover {
        opacity: var(--hover-opacity,  0.7);
    }
    .hamburger.is-active:hover {
        opacity: var(--hover-opacity-active,  var(--hover-opacity,  0.7));
    }
    .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
        background-color: var(--active-color,  var(--color,  black));
    }
    .hamburger-box {
        width: var(--layer-width,  30px);
        height: calc(var(--layer-height,  4px) * 3 + var(--layer-spacing,  6px) * 2);
        display: inline-block;
        position: relative;
    }
    .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: var(--layer-height,  4px);
    }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        width: var(--layer-width,  30px);
        height: var(--layer-height,  4px);
        background-color: var(--color,  black);
        border-radius: var(--border-radius,  4px);
        position: absolute;
        transition-property: transform;
        transition-duration: .15s;
        transition-timing-function: ease;
    }
    .hamburger-inner::before, .hamburger-inner::after {
        content: "";
        display: block;
    }
    .hamburger-inner::before {
        top: calc((var(--layer-spacing,  6px) + var(--layer-height,  4px)) * -1);
    }
    .hamburger-inner::after {
        bottom: calc( (var(--layer-spacing,  6px) + var(--layer-height,  4px)) * -1 );
    }


    .hamburger--spin .hamburger-inner {
        transition-duration: .22s;
        transition-timing-function: cubic-bezier(0.55,  0.055,  0.675,  0.19);
    }
    .hamburger--spin .hamburger-inner::before {
        transition: top .1s .25s ease-in, opacity .1s ease-in;
    }
    .hamburger--spin .hamburger-inner::after {
        transition: bottom .1s .25s ease-in, transform .22s cubic-bezier(0.55,  0.055,  0.675,  0.19);
    }
    .hamburger--spin.is-active .hamburger-inner {
        transform: rotate(225deg);
        transition-delay: .12s;
        transition-timing-function: cubic-bezier(0.215,  0.61,  0.355,  1);
    }
    .hamburger--spin.is-active .hamburger-inner::before {
        top: 0;
        opacity: 0;
        transition: top .1s ease-out, opacity .1s .12s ease-out;
    }
    .hamburger--spin.is-active .hamburger-inner::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom .1s ease-out, transform .22s .12s cubic-bezier(0.215,  0.61,  0.355,  1);
    }